[Unit]
Description=Docker macvlan network remote plugin.
Before=docker.service
After=network.target
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker-macvlan
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
